#jinja2: lstrip_blocks: True
{% set dbl = '{{' %}
---
# Becuase fact collection is turned off:
ansible_env:
  HOME: "{{ dbl }} lookup('env','HOME') }}"

config:
  cli_default_action: plugin
  cli_vars_dir: cli-vars
  roles_directory: '{{ dbl }} ansible_env.HOME }}/.ansible/roles'

  # brought in from prepd-playbooks spike; see if needed
  # debug_vars: no
  # debug_templates: no
  # encrypt_plan_vars: yes
